$color__white: #FFFFFF; 
$color__black: #000000;
$color__medium-red:#FE5858;
$color__light-red: #FFD6D6;
$color__dark-red: #E00000;
$color__dark-blue: #313144;
$color__medium-grey: #D8D8D8;
$color__light-grey: #E5E5E5;
$color__dark-grey: #C4C4C4;
